
<ion-header>
  <ion-toolbar>
    <ion-icon  style="font-size:210%"  routerLink="" name="arrow-undo-outline"></ion-icon>

    <!-- <ion-icon routerLink="" name="caret-back-circle"></ion-icon> -->

    <ion-title>

    Details

    </ion-title>

  </ion-toolbar>
  <!-- {{details | json}} -->
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
      <ion-title>  </ion-title>  
      </ion-card-subtitle>
     
                    
      <!-- <img src="data:image/png;base64,{{details.produit.image}}" class="card-img-top img " alt=""> -->

      <ion-card-title>Card Title    </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    
                  
        <!-- <img src="data:image/png;base64,{{details.produit.image}}" class="card-img-top img " alt=""> -->
      
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>
